:root {
  --neumorphism-blur: 60px;
  --neumorphism-textColor: #001f3f;
  --neumorphism-textColorOpposite: #f6f5f7;
  --neumorphism-baseColor: #e0e0e0;
  --neumorphism-darkColor: #dadada;
  --neumorphism-firstGradientColor: #dadada;
  --neumorphism-lightColor: #adadad;
  --neumorphism-secondGradientColor: #adadad;
  --neumorphism-positionX: 30px;
  --neumorphism-positionXOpposite: -30px;
  --neumorphism-positionY: 30px;
  --neumorphism-positionYOpposite: -30px;
  --neumorphism-angle: 145deg;
  --neumorphism-radius: 50px;
}
