.softElement {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: var(--neumorphism-radius);
}

.softShadow {
  box-shadow: var(--neumorphism-positionX) var(--neumorphism-positionY)
      var(--neumorphism-blur) var(--neumorphism-darkColor),
    var(--neumorphism-positionXOpposite) var(--neumorphism-positionYOpposite)
      var(--neumorphism-blur) var(--neumorphism-lightColor);
}

.pressed {
  box-shadow: inset var(--neumorphism-positionX) var(--neumorphism-positionY)
      var(--neumorphism-blur) var(--neumorphism-darkColor),
    inset var(--neumorphism-positionXOpposite)
      var(--neumorphism-positionYOpposite) var(--neumorphism-blur)
      var(--neumorphism-lightColor);
}

.convex {
  background: linear-gradient(
    var(--neumorphism-angle),
    var(--neumorphism-firstGradientColor),
    var(--neumorphism-secondGradientColor)
  );
}

.concave {
  background: linear-gradient(
    var(--neumorphism-angle),
    var(--neumorphism-secondGradientColor),
    var(--neumorphism-firstGradientColor)
  );
}
